li {
    list-style: none;
}

a {
    text-decoration: none;
}

.Link {
    color: #232323;
}

.navbar-container {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #b1b1b1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 34px;
    position: sticky;
    top: 0px
}


.logo {
    display: flex;
    gap: 12px;
}


.navbar-list ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.btn-signup {
    font-size: 12px;
    padding: 10px 14px;
    background-color: #1b1b1b;
    color: #Fff;
    border-radius: 20px;
}

.btn-signup:hover {
    background-color: #1b2b1b;
}

/* Imageheader Section */
.imageSection {
    width: 100%;
    height: 75vh;
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    align-items: center;
}

.Imagetext {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 150px;
}


.title-headline {
    font-size: 35px;
    font-weight: 600;
}



.imageHeader-btn {
    width: 175px;
    height: 35px;
    background-color: #1b1b1b;
    color: #fff;
    border-radius: 20px;
}

.image-grid {
    width: 75%;
    height: 90%;
    background-color: #e8f7fa;
    margin-right: 15px;
}

/* End of Imageheader Section */


/* Trending Posts */
.trendingPostContainer {
    width: 100%;
    height: 550px;
    padding-top: 40px;
    padding-left: 30px;
}

.trendingpost-flexicon {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

.data-fetch-container {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
}

/* End of Trending Posts */
/* Trending Card */
.trendingCard-container {
    width: 400px;
    height: 200px;
    background-color: #fff;
    /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); */
    padding: 10px;
    border-radius: 4px;
    /* box-shadow: 3px 4px 4px rgba(0,0,0,0.2); */
}

.trendingcard-userName {
    font-weight: 600;
}

.trendingcard-title {
    font-size: 18px;
    margin-top: 4px;
    font-weight: 700;
}

.trendingcard-description {
    margin-top: 6px;
    width: 100%;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5rem;
    font-size: 16px;
}

.trendingcard-category {
    width: fit-content;
    display: block;
    margin-top: 10px;
    background-color: #d1d1d1;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
}

/* End of Trending Card */

/* Blog Container */
.blog-container {
    margin-top: 20px;
}

.blog-container-flex {
    gap: 4px;
    display: flex;
}

.recipe-list {
    height: 1000px;
    width: 700px;
    background: red;
    flex-grow: 1;
}

.blog-categories {
    width: 450px;
    flex-grow: 0;
    height: 300px;
    background-color: green;
    position: sticky;
    top: 13%;
    right: 0;
}

/* End of Blog Container */


/* Create Post Container */
.createpostpage {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}

.formPost {
    width: inherit;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

label {
    display: inline;
    width: 200px;
}

input {
    padding-left: 4px;
    width: 200px;
    height: 35px;
    outline: none;
    border: 1px solid #d1d1d1;
}

textarea {
    width: 450px;
    height: 200px;
    resize: none;
    outline: none;
    border: 1px solid #d1d1d1;
    padding-top: 10px;
    padding-left: 10px;
}

.date-input {
    width: 60px;
    margin-left: 10px;
}

.category-input {
    margin-left: 10px;
    outline: none;
    border: 1px solid #d1d1d1;
    padding: 7px 5px;
}

option {
    width: 200px;
    border: 1px solid #d1d1d1;
}

.postSubmit-btn {
    display: block;
    margin: 0px auto;
    width: 150px;
    height: 30px;
    border-radius: 4px;
    background-color: #232323;
    color: #fff;
}

/* End of Create Post Container */